<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.5/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/css/calendar.css" rel="stylesheet" type="text/css" />
    <script defer src="/js/index.js"></script>
    <script defer src="/js/calendar.js"></script>
    <title>main</title>
  </head>
  <body>
    <div class="mainContainer">
        {{>menu}}
      <div class="main">
        <div class="title">얼마동안 여행하실 건가요?</div>
        <div class="calendar">
          <div class="calendar-header">
            <!-- <span class="month-picker" id="month-picker"> 5월 </span> -->

            <div class="month-picker" id="month-picker">
              <span id="pre-month" class="month-change"><pre><</pre></span>
              <span class="month-name"></span>
              <span id="next-month" class="month-change"><pre>></pre></span>
            </div>
            <div class="date-time-formate">
              <div class="day-text-formate">Today</div>
              <div class="date-time-value">
                <div class="time-formate">01:41:20</div>
                <div class="date-formate">03 - march - 2022</div>
              </div>
            </div>
            <div class="year-picker" id="year-picker">
              <span class="year-change" id="pre-year">
                <pre><</pre>
              </span>
              <span id="year">2024 </span>
              <span class="year-change" id="next-year">
                <pre>></pre>
              </span>
            </div>
          </div>

          <div class="calendar-body">
            <div class="loading2">
              <img src="/images/loading2.gif" alt="" />
              <span class="loadingComment">날씨를 불러오는중 입니다.</span>
            </div>
            <div class="calendar-week-days">
              <div>일</div>
              <div>월</div>
              <div>화</div>
              <div>수</div>
              <div>목</div>
              <div>금</div>
              <div>토</div>
            </div>
            <div class="calendar-days"></div>
          </div>
        </div>

        <form action="/test" method="post">
          <input type="type" name="targetDay" style="display: none" />
          <button class="btn" type="submit">날짜 확정하기</button>
        </form>
      </div>
    </div>
  </body>
</html>
